@import "bourbon/bourbon";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include user-select(none);
}

.tile {
  color: white;
  background-color: green;
  line-height: 64px;
  text-align: center;
  font-size: 32;
  font-weight: bold;
  position: absolute;
  border: 1px solid;
  cursor: move;
  z-index: 10;

  .moving {
    z-index: 15;
  }
}

.cell {
  background-color: blue;
  position: absolute;
  border: 1px solid black;
}
