* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tile {
    color: white;
    background-color: green;
    line-height: 64px;
    text-align: center;
    font-size: 32;
    font-weight: bold;
    position: absolute;
    border: 1px solid;
    -webkit-user-select: none;
    cursor: move;
    z-index: 10;
}

.cell {
    background-color: blue;
    position: absolute;
    border: 1px solid black;
}

/*.grid {*/
    /*width: 1000px;*/
    /*height: 1000px;*/
/*}*/
