@import "bourbon/bourbon";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  @include user-select(none);
}

body {
  background-color: #eee;
}

.tile {
  color: white;
  background-color: rgba(33, 134, 207, 0.9);
  /*line-height: 64px;*/
  text-align: center;
  font-size: 28;
  font-weight: bold;
  position: absolute;
  cursor: move;
  z-index: 10;

  // Make the tile just smaller than a cell, so it doesn't overlap the cell's 1px border.
  border: 1px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;

  &.moving {
    z-index: 15;
    border: none;
    box-shadow: 3px 5px 10px #999;
    // Zoom in and add a little shadow for depth
    @include transform(scale(1.2));
    @include transition(transform 75ms ease-in-out);
  }
}

.ghost {
  background-color: grey;
  position: absolute;
  z-index: 10;

  &.hidden {
    display: none;
  }
}

.cell {
  background-color: #d9d9d9;
  position: absolute;
  border: 1px solid #0861A1;
  z-index: 1;

  &.highlighted {
    z-index: 8;
    border: 3px solid #FFFF00;
  }
}

.overlay {
	background-color: white;
  position: absolute;
  z-index: 20;

  &.hidden {
    display: none;
  }
}
